
<div class="container">
  <div class="row mt-5 ">
    <div class="col mt-5 mb-5 text-white text-center">
      <h1>Bienvenid@, mi nombre es Yireh</h1>
    </div>
    <div class="mt-5 mb-5 text-white text-center"><h2>Soy tu app y vamos a administrar tu
        presupuesto personal.</h2></div>
  </div>