<div class="container d-flex justify-content-center mt-5">
<div class="row mt5">
    <div class="alert alert-dark mt-5 shadow-lg p-3 mb-5 bg-body rounded" role="alert">
 Página no encontrada 
 <a href="/"><input type="button" value="Volver" class="btn btn-danger"></a>
 </div>
</div>
</div>



