body{
    background-image: url(../images/teahub.io-cool-ps4-wallpapers-1945425.png);
    height: 100vh;
    padding: 2rem;
}

.formulario{
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.forms{
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 45vw;
    flex-direction: column;
    box-shadow: 3px 2px 15px black;    
}

.containerFooter {
    background-color: rgba(4, 17, 41, 0.521);
}
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
    
  }
